@media screen and (max-width: 1294px){
    div{
        background-color: green;
    }
}

@media screen and (min-width: 280px){
    div{
        background-color: green;
    }
}

/* Universal selector - removes body unnecessary spaces */
    * {
            padding: 0px;
            border: 0px;
            margin: 0px;
     }

     /* Flex layout and dimension 100% x 100% */
    header {
                width: 100%;
                height: 100%;
                flex:auto;
            }

        /* header and 3 div's as child */
       header > div:nth-child(1n) {
                        background-color: green;
                        width: 33%;
                        height: 500px;        
                        display: inline-block;
                        padding: -10px;
                        border: -10px;
                        margin: 0px;
                        text-align: center;     
            }
